//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors/num_word.dtsi>

#define DEF 0
#define NAV 1
#define SYM 2
#define NUM 3
#define FUN 4
#define SYS 5

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/totem.h"

#include "behaviors.dtsi"
#include "macros.dtsi"

#define XXX &none
#define ___ &trans
#define UNLOCK &studio_unlock

#define CTL_ESC &mt LCTL ESC
#define LT_BSPC &qlt SYM BSPC
#define ZOOM_IN &kp LG(EQUAL)
#define ZOOM_OUT &kp LG(MINUS)
#define VCC_OFF &ext_power EP_OFF 

/* Keymap */
ZMK_CONDITIONAL_LAYER(num, NAV SYM, NUM)  // NAV + SYM --> NUM

ZMK_LAYER(base,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &kp Q         &kp W         &kp F         &kp P         &kp B            &kp J         &kp L         &kp U         &kp Y         &kp SEMI 
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &kp A         &kp R         &kp S         &kp T         &kp G            &kp M         &kp N         &kp E         &kp I         &kp O
//╭───────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭───────────╮
    CTL_ESC       &kp Z         &kp X         &kp C         &kp D         &kp V            &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH        &kp SQT 
//╰───────────╯ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ╰───────────╯
                                              &lshft       &kp RET       &mo NAV          LT_BSPC       &kp SPACE     &rshft
//                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
)


ZMK_LAYER(nav,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &prev_c       &next_c       &lang         &cast         &kp C_VOL_UP     XXX           &kp HOME      &kp END       ZOOM_OUT      ZOOM_IN
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &prev_d       &next_d       &skm LALT     &skm LGUI     &kp C_VOL_DN     &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     XXX
//╭───────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭───────────╮
    &kp LCTL      &alt_tab      XXX           XXX           XXX           &play_np         XXX           &kp PG_UP     &kp PG_DN     XXX           XXX             &kp TAB 
//╰───────────╯ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ╰───────────╯
                                              ___           ___           ___              ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(sym,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &kp LBKT      &kp LBRC      &kp LPAR      &kp CARET     &kp TILDE        &kp EXCL      &kp STAR      &kp RPAR      &kp RBRC      &kp RBKT     
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &kp MINUS     &kp EQUAL     &kp AMPS      &kp UNDER     &kp DLLR         &kp HASH      &skm RGUI     &skm LALT     &full_view    &next_view   
//╭───────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭───────────╮
    &kp GRAVE     &kp PLUS      &kp AT        &kp PIPE      &kp FSLH      &kp PRCNT        XXX           &kp BSLH      XXX           &kp QMARK     XXX             ___
//╰───────────╯ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ╰───────────╯
                                              ___           ___           ___              ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(num,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5           &kp N6        &kp N7        &kp N8        &kp N9        &kp N0       
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  ___           ___           ___           ___           ___              ___           ___           ___           ___           ___          
//╭───────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭───────────╮
    &sl SYS       ___           ___           ___           ___           ___              ___           ___           ___           ___           ___             &sl FUN
//╰───────────╯ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ╰───────────╯
                                              ___           ___           ___              ___           ___           ___ 
//                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(fun,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5           &kp F6        &kp F7        &kp F8        &kp F9        &kp F10      
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  ___           ___           ___           ___           &kp F11          &kp F12       ___           ___           ___           ___          
//╭───────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭───────────╮ 
    ___           ___           ___           ___           ___           ___              ___           ___           ___           ___           ___             ___
//╰───────────╯ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ╰───────────╯
                                              ___           ___           ___              ___           ___           ___ 
//                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(sys,
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  ___           &bt BT_CLR       UNLOCK        ___           ___           ___           ___          
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &out OUT_TOG  VCC_OFF       ___           ___           &bootloader      &bootloader   ___           ___           ___           ___          
//╭───────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭───────────╮
    ___           ___           ___           ___           ___           &sys_reset       &sys_reset    ___           ___           ___           ___             ___
//╰───────────╯ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ╰───────────╯
                                              ___           ___           ___              ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
)
/* vim: set ft=c tw=174: */
